@import "tailwindcss";


body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

/* Custom easing for animations */
.transition-all {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
